<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Christine Casebolt</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{url_for('static', filename='css/creative.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style>
body {
  background-image: url("https://unsplash.com/?photo=Z6v4dSNayVg");
}
</style>

<body id="page-top" style="background-color:#cfd0d3"}>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">about me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="jumbotron" style="color: #4f4e4d">Christine Casebolt</h1>
                <hr>

                    <p>Endlessly curious.</p>
                    <p>Passionately dedicated to</p>
                    <p>beautiful code, elegant design, and great coffee.</p>
                <hr>
                    <a href="https://docs.google.com/document/d/1kHduKf4sbN4M7lC-WnFaKugbp7GAPQKanVZqkuF5h3c/edit?usp=sharing" class="btn btn-primary btn-xl page-scroll yellow-btn">Check out my resume</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" style="color:#cfd0d3">What's love got to do with it?</h2>
                    <hr class="light">
                    <p class="text-faded">I love the power a well built application has to connect people with a product, service, or idea. I'm as excited about digging in and debugging a small feature as I am about wireframing an entire component because for me, its about a love and a passion for the milions of details that come together to create a single, beutiful application.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Key Ingredients</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Languages</h3>
                        <p class="text-muted">Ruby</p>
                        <p class="text-muted">Javascript(ES6)</p>
                        <p class="text-muted">Python</p>
                        <p class="text-muted">NodeJS</p>
                        <p class="text-muted">SQL</p>
                        <p class="text-muted">HTML/CSS</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Front end</h3>
                        <p class="text-muted">React</p>
                        <p class="text-muted">jQuery</p>
                        <p class="text-muted">Bootstrap</p>
                        <p class="text-muted">Material-UI</p>
                        <p class="text-muted">MaterializeCSS</p>
                        <p class="text-muted">Responsive Design</p>
                        <p class="text-muted">SASS</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Frameworks</h3>
                        <p class="text-muted">Ruby on Rails</p>
                        <p class="text-muted">Sinatra</p>
                        <p class="text-muted">Flask</p>
                        <p class="text-muted">Jekyll</p>
                        <p class="text-muted">Redux</p>
                        <p class="text-muted">Rspec</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code-fork text-primary sr-icons"></i>
                        <h3>Tools</h3>
                        <p class="text-muted">Sketch</p>
                        <p class="text-muted">Git/Github</p>
                        <p class="text-muted">Capybara</p>
                        <p class="text-muted">Rspec</p>
                        <p class="text-muted">Bash/Zsh</p>
                        <p class="text-muted">Digital Ocean</p>
                        <p class="text-muted">Jasmine</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="{{url_for('static', filename='img/portfolio/fullsize/1.jpg')}}" class="portfolio-box">
                        <img src="{{url_for('static', filename='img/portfolio/thumbnails/1.jpg')}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Tasting Notes
                              </div>
                              <div class="project-name">
                                  React|Rails|Material-UI
                              </div>
                          </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact" style="background-color:#4062f9">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" style="color:#cfd0d3">Let's talk</h2>
                    <hr class="primary" style="border-color:#fcef37">
                    <p style="color:#cfd0d3">I'd love to talk further about how my unique skills can add value to your team in a very real way.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact" style="color:#cfd0d3"></i>
                    <p style="color:#cfd0d3">425-761-2220</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact" style="color:#cfd0d3"></i>
                    <p class="link-style" style="color:#4f4e4d"><a href="mailto:christine.casebolt@ygmail.com">christine.casebolt@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

    <!-- Theme JavaScript -->
    <script src="{{url_for('static', filename='js/creative.min.js')}}"></script>

</body>

</html>
